@class-prefix-header: ~'header';

.@{class-prefix-header} {
  display: flex;
  justify-content: space-between;
  width: 100%;
  &-ul {
    display: flex;
    list-style: none;

    & > li {
      padding-right: 20px;
    }
  }

  &-logo {
    display: flex;
    align-items: center;
    width: auto;
    cursor: pointer;
    color: var(--color-text-1);
  }

  &-fullscreen {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &-avatar {
    cursor: pointer;
  }

  &-language-active {
    background: var(--theme-color);
    color: #fff;
  }
}
