{
  "printWidth": 120,
  "tabWidth": 2,
  "singleQuote": true,
  "semi": true,
  "useTabs": false,
  "bracketSpacing": true,
  "trailingComma": "all",
  "jsxSingleQuote": false,
  "endOfLine": "auto",
  "overrides": [
    {
      "files": "",
      "options": {
        "parser": "json"
      }
    }
  ]
}
